<h2>Add New Expense</h2>

<label for="descriptionAddExpense">Description</label>
<input id="descriptionAddExpense" name="descriptionAddExpense">

<label for="dateAddExpense">Date</label>
<input type="date" id="dateAddExpense" name="dateAddExpense">

<label for="hourAddExpense">Hour</label>
<input type="hour" id="hourAddExpense" name="hourAddExpense">

<label for="valueAddExpense">Value</label>
<input id="valueAddExpense" name="valueAddExpense">

<label for="commentAddExpense">Comments</label>
<input id="commentAddExpense" name="commentAddExpense">

<button style="width: 80%;" onclick="addExpense()" id="btnAddExpense">Add Expense</button>